/build
/cert.pem
/dist
/key.pem
/lib
/node_modules
/packages/
/webapp
/.npmrc
/*.log
package-lock.json
.DS_Store
electron/dist
electron/pub
**/.idea
/config.json
/config.json.*
/config.local*.json
/src/component-index.js
/.tmp
/webpack-stats.json
/pkg
/riot-desktop
/riot-desktop-fork-git
/src/npm-cache
/src/riot-desktop
/src/riot-desktop.desktop
/src/riot-desktop.sh
/src/riot-web-fork-git
/riot-web-fork-git
/*.pkg.tar.xz
